/** 
Escribir el CSS necesario aqui
*/
p{
    border: 1px dashed black;
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 20px 40px 50px;
   
}

div {
    background-color: mistyrose;
    border-width: 40px 20px 40px 20px;
    border-style: purple;
    border-color: aqua;
    padding: 20px 30px 30px 10px;
    
    
}