/** 
Escribir el CSS necesario aqui
*/



div{
    background: #ffbb99;
    padding: 10px 30px 40px 120px; 
    border: 15px #8A2BE2 solid;
}

p{     
    border-style:dashed;
    padding: 10px;
    background: white;
    text-align: center; 
}